{
"ANCHORS_HEIGHT": 24,
"ANCHORS_WIDTH": 78,
"ANCHOR_PER_GRID": 9,
"ANCHOR_SEED": [
[
36.0,
37.0
],
[
366.0,
174.0
],
[
115.0,
59.0
],
[
162.0,
87.0
],
[
38.0,
90.0
],
[
258.0,
173.0
],
[
224.0,
108.0
],
[
78.0,
170.0
],
[
72.0,
43.0
]
],
"BATCH_SIZE": 5,
"CLASSES": 13,
"CLASS_ID": {
"0": "person",
"1": "bicycle",
"10": "toaster",
"11": "refrigerator",
"12": "hair_drier",
"2": "car",
"3": "motorcycle",
"4": "sports_ball",
"5": "laptop",
"6": "mouse",
"7": "remote",
"8": "cell_phone",
"9": "microwave"
},
"CLASS_NAMES": [
"person",
"bicycle",
"car",
"motorcycle",
"sports_ball",
"laptop",
"mouse",
"remote",
"cell_phone",
"microwave",
"toaster",
"refrigerator",
"hair_drier"
],
"CLASS_TO_IDX": {
"bicycle": 1,
"car": 2,
"cell_phone": 8,
"hair_drier": 12,
"laptop": 5,
"microwave": 9,
"motorcycle": 3,
"mouse": 6,
"person": 0,
"refrigerator": 11,
"remote": 7,
"sports_ball": 4,
"toaster": 10
},
"EPSILON": 1e-16,
"EXP_THRESH": 1.0,
"FINAL_THRESHOLD": 0.0,
"IDS": [
0,
1,
2,
3,
4,
5,
6,
7,
8,
9,
10,
11,
12
],
"IMAGE_HEIGHT": 624,
"IMAGE_WIDTH": 768,
"IOU_THRESHOLD": 0.6,
"KEEP_PROB": 0.5,
"LEARNING_RATE": 0.01,
"LOSS_COEF_BBOX": 5.0,
"LOSS_COEF_CLASS": 1.0,
"LOSS_COEF_CONF_NEG": 100.0,
"LOSS_COEF_CONF_POS": 75.0,
"MAX_GRAD_NORM": 1.0,
"MOMENTUM": 0.9,
"NMS_THRESH": 0.4,
"N_CHANNELS": 3,
"PROB_THRESH": 0.005,
"TOP_N_DETECTION": 32,
"VISUALIZATION_BATCH_SIZE": 5,
"WEIGHT_DECAY": 0.001,
"init_file": "none"
}