{
"ANCHORS_HEIGHT": 24,
"ANCHORS_WIDTH": 78,
"ANCHOR_PER_GRID": 9,
"ANCHOR_SEED": [
[
36.0,
37.0
],
[
366.0,
174.0
],
[
115.0,
59.0
],
[
162.0,
87.0
],
[
38.0,
90.0
],
[
258.0,
173.0
],
[
224.0,
108.0
],
[
78.0,
170.0
],
[
72.0,
43.0
]
],
"BATCH_SIZE": 5,
"CLASSES": 90,
"CLASS_NAMES": [
"person",
"bicycle",
"car",
"motorcycle",
"airplane",
"bus",
"train",
"truck",
"boat",
"traffic light",
"fire hydrant",
"stop sign",
"parking meter",
"bench",
"bird",
"cat",
"dog",
"horse",
"sheep",
"cow",
"elephant",
"bear",
"zebra",
"giraffe",
"backpack",
"umbrella",
"handbag",
"tie",
"suitcase",
"frisbee",
"skis",
"snowboard",
"sports ball",
"kite",
"baseball bat",
"baseball glove",
"skateboard",
"surfboard",
"tennis racket",
"bottle",
"wine glass",
"cup",
"fork",
"knife",
"spoon",
"bowl",
"banana",
"apple",
"sandwich",
"orange",
"broccoli",
"carrot",
"hot dog",
"pizza",
"donut",
"cake",
"chair",
"couch",
"potted plant",
"bed",
"dining table",
"toilet",
"tv",
"laptop",
"mouse",
"remote",
"keyboard",
"cell phone",
"microwave",
"oven",
"toaster",
"sink",
"refrigerator",
"book",
"clock",
"vase",
"scissors",
"teddy bear",
"hair drier",
"toothbrush"
],
"CLASS_TO_IDX": {
"airplane": 5,
"apple": 53,
"backpack": 27,
"banana": 52,
"baseball bat": 39,
"baseball glove": 40,
"bear": 23,
"bed": 65,
"bench": 15,
"bicycle": 2,
"bird": 16,
"boat": 9,
"book": 84,
"bottle": 44,
"bowl": 51,
"broccoli": 56,
"bus": 6,
"cake": 61,
"car": 3,
"carrot": 57,
"cat": 171,
"cell phone": 77,
"chair": 62,
"clock": 85,
"couch": 63,
"cow": 21,
"cup": 47,
"dining table": 67,
"dog": 8,
"donut": 60,
"elephant": 22,
"fire hydrant": 11,
"fork": 48,
"frisbee": 34,
"giraffe": 25,
"hair drier": 89,
"handbag": 31,
"horse": 19,
"hot dog": 58,
"keyboard": 76,
"kite": 38,
"knife": 49,
"laptop": 73,
"microwave": 78,
"motorcycle": 4,
"mouse": 74,
"orange": 55,
"oven": 79,
"parking meter": 14,
"person": 1,
"pizza": 59,
"potted plant": 64,
"refrigerator": 82,
"remote": 75,
"sandwich": 54,
"scissors": 87,
"sheep": 20,
"sink": 81,
"skateboard": 41,
"skis": 35,
"snowboard": 36,
"spoon": 50,
"sports ball": 37,
"stop sign": 13,
"suitcase": 33,
"surfboard": 42,
"teddy bear": 88,
"tennis racket": 43,
"tie": 32,
"toaster": 80,
"toilet": 70,
"toothbrush": 90,
"traffic light": 10,
"train": 7,
"truck": 8,
"tv": 72,
"umbrella": 28,
"vase": 86,
"wine glass": 46,
"zebra": 24
},
"EPSILON": 1e-16,
"EXP_THRESH": 1.0,
"FINAL_THRESHOLD": 0.0,
"IDS": [
1,
2,
3,
4,
5,
6,
7,
8,
9,
10,
11,
13,
14,
15,
16,
171,
8,
19,
20,
21,
22,
23,
24,
25,
27,
28,
31,
32,
33,
34,
35,
36,
37,
38,
39,
40,
41,
42,
43,
44,
46,
47,
48,
49,
50,
51,
52,
53,
54,
55,
56,
57,
58,
59,
60,
61,
62,
63,
64,
65,
67,
70,
72,
73,
74,
75,
76,
77,
78,
79,
80,
81,
82,
84,
85,
86,
87,
88,
89,
90
],
"IMAGE_HEIGHT": 624,
"IMAGE_WIDTH": 768,
"IOU_THRESHOLD": 0.5,
"KEEP_PROB": 0.5,
"LEARNING_RATE": 0.01,
"LOSS_COEF_BBOX": 5.0,
"LOSS_COEF_CLASS": 1.0,
"LOSS_COEF_CONF_NEG": 100.0,
"LOSS_COEF_CONF_POS": 75.0,
"MAX_GRAD_NORM": 1.0,
"MOMENTUM": 0.9,
"NMS_THRESH": 0.4,
"N_CHANNELS": 3,
"PROB_THRESH": 0.005,
"STEPS": 10,
"TOP_N_DETECTION": 64,
"VISUALIZATION_BATCH_SIZE": 6,
"WEIGHT_DECAY": 0.001
}